.about_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapses_container {
  max-width: 950px;
  width: 100%;
  margin: 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* MOBILE / TABLETTE PORTRAIT */
@media screen and (max-width: 767px) {
  .about_page {
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 20px;
    flex-direction: column;
  }

  .about_page .collapses_container {
    gap: 15px;
    margin: 0;
    flex-grow: 0;
  }

  .about_page .banner {
    margin-top: 0;
  }

  .about_page .collapse {
    max-width: 767px;
    width: 100%;
    margin-bottom: 0;
  }

  .about_page .collapse_header {
    height: 40px;
    padding: 0 15px;
  }

  .about_page .collapse_title {
    font-size: 18px;
  }

  .about_page .collapse_content {
    padding: 15px;
  }
}
