.banner {
  max-width: 1240px;
  width: 100%; // prend toute la largeur du viewport
  height: 223px;
  border-radius: 25px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6); // superposition sombre
    z-index: 1;
  }

  .banner_content {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  .banner_content h1 {
    color: white;
    max-width: 97%;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 767px) {
  .banner {
    max-width: 767px;
    height: 111px; // hauteur exacte du Figma
    border-radius: 10px; // arrondi correspondant
    margin: 20px auto; // centré horizontalement avec marge top/bottom
  }

  .banner .banner_content {
    padding: 0;
  }

  .banner .banner_content h1 {
    font-size: 22px;
    max-width: 210px;
    text-align: left; // aligné à gauche comme sur Figma
    padding-left: 15px;
    margin: 0;
  }
}
