.footer {
  background-color: #000;
  width: 100%;
  text-align: center;
  padding: 40px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  .footer_logo {
    height: 40px;
  }

  p {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
  }
}
