.header {
  padding: 20px 0;

  .header_content {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header_logo {
    height: 55px;
  }

  .header_nav {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .header_nav a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
  }
  .nav-link {
    position: relative;
    text-decoration: none;
    color: #000;
  }

  .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
  }
}

@media (max-width: 767px) {
  .header {
    .header_content {
      padding: 0 20px;
      justify-content: space-between;
      align-items: center;
    }

    .header_logo {
      max-width: 145px;
      height: auto;
    }

    .header_nav {
      gap: 16px;
    }

    .header_nav a {
      font-size: 14px;
    }
  }
}
