html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  max-width: none;
  margin: 0 auto;
  padding: 0 40px;
}

.container {
  margin: 0;
  padding: 0 40px;
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}
