html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  height: auto;
}

.layout {
  display: flex;
  flex-direction: column;
}

main.container {
  max-width: none;
  margin: 0;
  padding: 0 40px;
}
.main-content {
  flex: 0 0 auto;
}

@media (max-width: 767px) {
  main.container {
    padding: 0 20px;
    margin: 0;
  }

  main {
    padding: 0 0;
  }
}
