.slideshow {
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: 20px auto;

  .slideshow_image {
    width: 100%;
    height: 415px;
    object-fit: cover;
    display: block;
    border-radius: 15px;
  }

  .slideshow_arrow_left {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 60px;
    cursor: pointer;
    z-index: 10;
  }

  .slideshow_arrow_right {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 60px;
    cursor: pointer;
    z-index: 10;
  }

  .slideshow_counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 5px;
  }
}
